$color-bg: #fff;
$color-fill: #007aff;
$color-fill--secondary: #fafafa;
$color-fill--placeholder: #ebebeb;
$color-text: #27272a;
$color-text-secondary: #71717a;
$color-border: #d4d4d8;
$color-border--focus: #a5a5aa;

$font-size: 18px;
$font-size--small: 14px;
$font-size--large: 24px;
$font-size--xl: 28px;

// @media (prefers-color-scheme: dark) {
//    $color-bg: #18181b;
//    $color-fill: #007aff;
//    $color-fill--secondary: #202025;
//    $color-fill--placeholder: #2f2f2f;
//    $color-text: #fff;
//    $color-text-secondary: #71717a;
//    $color-border: #52525b;
//    $color-border--focus: #27272a;
// }

* {
   box-sizing: border-box;
}
body {
   margin: 0;
   padding: 0;
   background-color: $color-bg;
   font-family: 'Nunito Sans', sans-serif;
}
header {
   width: 100%;
   padding: 24px 0;
   text-align: center;
   & h1 {
      color: $color-text;
      font-size: $font-size--xl;
      margin: 0;
      padding: 0;
   }
}
.clearAll {
   &.disabled {
      display: none;
   }
   position: fixed;
   bottom: 20px;
   right: 20px;
   background-image: url('../trash.svg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: 70%;
   height: 35px;
   width: 35px;
   border-radius: 12px;
   border: none;
   background-color: $color-fill;
   transition: transform 0.1s;
   animation: show 0.1s ease-in-out;
   &:active {
      transform: scale(0.95);
   }
}
.filter {
   position: relative;
   color: $color-bg;
   border-radius: 12px;
   & select {
      border: solid 1px $color-border;
      appearance: none;
      background-color: $color-bg;
      color: $color-text;
      font-size: $font-size--large;
      width: 220px;
      margin: 0;
      padding: 8px 12px;
      border-radius: 12px;
      transition: border-color 0.1s;
      &:focus {
         border-color: $color-border--focus;
      }
   }
   &:hover::after {
      transform: translateY(1px);
   }
   &::after {
      content: '';
      background-image: url('../arrow-down.svg');
      background-repeat: no-repeat;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      pointer-events: none;
      transition: transform 0.3s;
   }
}
.start {
   background-image: url('../play.svg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: 90%;
   height: 45px;
   width: 45px;
   border-radius: 12px;
   border: none;
   background-color: $color-fill;
   transition: transform 0.1s;
   &:active {
      transform: scale(0.95);
   }
}

.wrapper {
   overflow: hidden;
   padding: 0px 40px 20px 40px;
}
.btnWrapper {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   column-gap: 16px;
   margin-bottom: 30px;
}
.result {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   row-gap: 8px;
   color: $color-text;
   & .item {
      &.removing {
         animation: removing 0.1s ease forwards;
      }
      width: 520px;
      background-color: $color-fill--secondary;
      border-radius: 12px;
      padding: 16px;
      & p {
         margin: 0;
         animation: show 0.1s ease-in-out;
      }
      & p:first-child {
         font-size: $font-size--large;
         font-weight: 700;
      }
      & p:last-child {
         color: $color-text-secondary;
         font-size: $font-size--small;
         margin-top: 2px;
      }
   }
}
.placeholder {
   width: 520px;
   height: 85px;
   background-color: $color-fill--secondary;
   border-radius: 12px;
   padding: 16px;
   animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
   animation: show 0.1s ease-in-out;
   & p {
      margin: 0;
      animation: show 0.1s ease-in-out;
   }
   & p:first-child {
      width: 100%;
      height: 30px;
      background-color: $color-fill--placeholder;
      border-radius: 10px;
      animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
   }
   & p:last-child {
      width: 30%;
      height: 20px;
      background-color: $color-fill--placeholder;
      border-radius: 10px;
      margin-top: 6px;
      animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
   }
}
@keyframes pulse {
   0%,
   100% {
      opacity: 1;
   }
   50% {
      opacity: 0.3;
   }
}
@keyframes removing {
   0% {
      opacity: 1;
      transform: scale(1);
   }
   100% {
      opacity: 0;
      transform: scale(0.9);
   }
}
@keyframes show {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

@media screen and (max-width: 675px) {
   .wrapper {
      padding: 0 20px 10px 20px;
   }
   .result {
      & .item {
         width: 100%;
      }
   }
   .placeholder {
      width: 100%;
   }
}
